extends ../layouts/base 

block content
  h1(class="text-2xl font-bold mb-4") #{title}

  form#update-work-experience-form(class="bg-white p-6 rounded shadow-md")
    div(class="mb-4")
      label(for="role" class="block text-sm font-medium text-gray-600 mb-2") Role
      input(type="text" name="role" value=workExperience.role class="w-full p-2 border rounded focus:border-blue-500 focus:outline-none")
    div(class="mb-4")
      label(for="company" class="block text-sm font-medium text-gray-600 mb-2") Company
      input(type="text" name="company" value=workExperience.company class="w-full p-2 border rounded focus:border-blue-500 focus:outline-none")
    div(class="mb-4")
      label(for="type" class="block text-sm font-medium text-gray-600 mb-2") Type (Freelance, Contract...)
      input(type="text" name="type" value=workExperience.type class="w-full p-2 border rounded focus:border-blue-500 focus:outline-none")
    div(class="flex mb-4")
      div(class="w-1/2 pr-2")
        label(for="startDateMonth" class="block text-sm font-medium text-gray-600 mb-2") Start Date Month
        input(type="text" name="startDateMonth" value=workExperience.startDateMonth class="w-full p-2 border rounded focus:border-blue-500 focus:outline-none")
      div(class="w-1/2 pl-2")
        label(for="startDateYear" class="block text-sm font-medium text-gray-600 mb-2") Start Date Year
        input(type="text" name="startDateYear" value=workExperience.startDateYear class="w-full p-2 border rounded focus:border-blue-500 focus:outline-none")
    div(class="mb-4 inline-flex items-center")
      input(type="checkbox" name="stillOpen" value="true" class="mr-2 focus:border-blue-500 focus:outline-none" checked=workExperience.stillOpen)
      label(for="stillOpen" class="text-sm font-medium text-gray-600") Still Open
    div(class="flex mb-4")
      div(class="w-1/2 pr-2")
        label(for="endDateMonth" class="block text-sm font-medium text-gray-600 mb-2") End Date Month
        input(type="text" name="endDateMonth" value=workExperience.endDateMonth class="w-full p-2 border rounded focus:border-blue-500 focus:outline-none")
      div(class="w-1/2 pl-2")
        label(for="endDateYear" class="block text-sm font-medium text-gray-600 mb-2") End Date Year
        input(type="text" name="endDateYear" value=workExperience.endDateYear class="w-full p-2 border rounded focus:border-blue-500 focus:outline-none")
    div(class="mb-4")
      label(for="description" class="block text-sm font-medium text-gray-600 mb-2") Description
      textarea(name="description", cols="30", rows="10" class="w-full p-2 border rounded focus:border-blue-500 focus:outline-none") #{workExperience.description}
    div(class="mb-4")
      button(type="button" onClick="updateWorkExperience('" + workExperience.id + "')" class="bg-blue-600 text-white hover:bg-blue-700 px-4 py-2 rounded") Update 
  a(href="/work-experiences" class="text-blue-500 hover:underline mt-4 inline-block") Back to Work Experiences list

  script.
    function updateWorkExperience(id) {
        const formData = new FormData(document.getElementById('update-work-experience-form'));
        const data = {};

        for (let[key, value] of formData.entries()) {
          data[key] = value; // Keep other values as they are
        }

        fetch(`/work-experiences/${id}`, {
          method: 'PUT',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(data),
        })
          .then((response) => response.json())
          .catch((error) => {
            alert('Error: ' + error.message);
          });
      }
